body {
  background-color: green;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}
div {
  background-color: lightgrey;
  width: 300px;
  border: 10px solid white;
  padding: 50px;
  margin: 20px;
  box-shadow: 5px 5px 2px grey;
}
h2 {
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: monospace, sans-serif;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  shadow: 10px 10px 5px grey;
}
p {
  text-align: center;
  font-family: monospace, sans-serif;
}
h2, p {
  margin: 10px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: lightgrey;
}
ul li {
  float: left;
}
ul li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: monospace, sans-serif;
}
ul li a:hover {
  background-color: blue;
}